<div class="d-flex justify-content-center align-center">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h3 class="titulo">Dar de alta un alumno</h3>
    <div class="flex-column">

      <form [formGroup]="formulario" class="form-floating mb-3 ">

        <input type="text" class="form-control" formControlName="nombre" id="floatingName" placeholder="name" required>
        <label for="floatingName">Nombre</label>

        <div *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.errors?.['required']"
              class="alert alert-danger" role="alert">Nombre Incorrecto!
        </div>

      </form>
      <form [formGroup]="formulario" class="form-floating mb-3">

        <input type="text" class="form-control" formControlName="apellido" id="floatingLastName" placeholder="lastName" required>
        <label for="floatingLastName">Apellido</label>

        <div *ngIf="formulario.get('apellido')?.touched && formulario.get('apellido')?.errors?.['required']"
             class="alert alert-danger" role="alert">Apellido Incorrecto!
        </div>

      </form>
      <form [formGroup]="formulario" >

        <p>Sexo: </p>
        <input type="radio" formControlName="sexo" class="form-check-input" name="sexo" id="radioM" (click)="formulario.controls['sexo'].setValue('M')">
        <label class="form-check-label" for="radioM" > Masculino </label>
        <br>
        <input type="radio" formControlName="sexo" class="form-check-input" name="sexo" id="radioF" (click)="formulario.controls['sexo'].setValue('F')">
        <label class="form-check-label" for="radioF" > Femenino </label>

      </form>
      <br>
      <button type="submit" (click)="crearAlumno(formulario)" [disabled]="formulario.invalid" class="btnConfirm">Confirmar</button>
    </div>
  </div>
</div>
<app-alumnos [alumnoNuevo]="alumnoForm" ></app-alumnos>
